---
import site from '../../site.json'
import Preview from '../../components/PreviewGrid.astro';
import Nav from '../../components/Navbar.astro';
import MainLayout from '../../layouts/MainLayout.astro'
import Paginator from '../../components/Paginator.astro'
import CTASignup from '../../components/CTASignup.astro'

export async function getStaticPaths({ paginate, rss }) {
  const allPosts = Astro.fetchContent('./*.md');
  const sortedPosts = allPosts.sort((a, b) => new Date(b.date) - new Date(a.date));

  rss({
    title: `${site.name} | Blog`,
    description: site.description,
    customData: `<language>en-us</language>`,
    items: sortedPosts.map(item => ({
      title: item.title,
      description: item.description,
      link: item.url,
      pubDate: item.publishDate,
    })),
  })

    return paginate(sortedPosts, {
      pageSize: 9
    })
}

const { page } = Astro.props;
---

<MainLayout>
  <Nav name="{site.title}" menus="{site.menus}" auth="{site.auth}" ></Nav>
  <section class="bg-secondary">
      <div class="w-full px-16 py-6 mx-auto space-y-5 sm:py-8 md:py-12 sm:space-y-8 md:space-y-16 max-w-screen-2xl">
          <div class="flex flex-col items-center sm:px-5 md:flex-row">
            <CTASignup header={site.blog.header} subheader={site.blog.subheader} signupHeader={site.blog.signup.header} signupSubheader={site.blog.signup.subheader}></CTASignup>
          </div>
          <Preview posts={page.data} />
      </div>
  </section>
  <Paginator page={page} />
</MainLayout>