---
// Component Imports
import Footer from '../components/Footer.astro';
import Nav from '../components/Navbar.astro';
import Contact from '../components/Contact.astro';
import site from '../site.json'
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>Astro + TailwindCSS</title>
    <link rel="stylesheet" type="text/css" href={Astro.resolve("../styles/global.css")}>
  </head>

  <body class="bg-secondary">
    <Nav name="{site.title}" menus="{site.menus}" auth="{site.auth}"></Nav>
    <Contact {site}></Contact>
    <Footer {site}></Footer>
  </body>
</html>